@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.slide-in {
  @apply !translate-x-0
}

h2{
  @apply text-gray-blue-500 font-[700] text-lg leading-[30px]
}

h3 {
  @apply text-gray-blue-400 font-[700] text-[13px] leading-[25px] 
}

p {
  @apply font-[700] text-xs leading-[20px] text-gray-blue-400
}

span {
  @apply font-[900] text-[10px] leading-[20px] text-gray-blue-100
}

.make-white {
  @apply brightness-0 invert-[1]
}

.hide-mobile{
  @apply hidden sm:block
}

/*  FLEX */
.flex-center-all {
  @apply flex items-center justify-center
}
